p, h1, h2, h3, h4, h5, h6 {
  font-family:georgia, serif!important;
  font-size: 1.4em!important;
}

a {
  color:#DC322F!important;
}

#pages, #book {
  top:0!important;
}

body {
  overflow:hidden;
  padding-left:0px!important;
  margin:0!important;
  height: 100%;
}

html {
  height: 100%;
}
/*
 * book selector styling
 */

#fileHolder {
  position:relative;
  height: 200px;
  width: 50%;
  max-width: 400px ;
  margin: 0 auto;
  top:50%!important;
  margin-top:-100px;
  text-align: center;
}
#fileHolder h2 {
  font-size: 2em!important;
}

input[type=file] {
font-size: 140%;
margin: 0 auto;
background: #fff;
opacity: 0.9;
width:100%;
}

@Media all and (max-width: 600px)
{
  input[type=file] {
    font-size: 100%;
  }
}

@Media all and (max-width: 400px)
{
  input[type=file] {
    font-size: 12px;
  }
}

/*
 * Menu styling
 */
#menu {
  z-index: 99999;
  -moz-transition: opacity 0.2s ease-out;
}

#menu #back {
  background: url('images/back.png') no-repeat center center rgba(5, 5, 5, 0.5);
  border-radius: 6px;
  top: 10px;
  left: 10px;
  position:fixed;
  width: 80px;
  height: 40px;
}

#menu #toggle {
  background: url('images/toggle.png') no-repeat center center rgba(5, 5, 5, 0.5);
  border-radius:6px;
  top: 10px;
  right: 10px;
  position: fixed;
  width: 40px;
  height: 40px;
}
